@charset "utf-8";
/* 공통 css - common.css */


/**********공통class*************/
/*속박스*/
.inbox {
    position: relative;
    /*부모자*/
    max-width: 100%;
    /*최대 가로크기를 100%로 설정하면
    설정된 가로크기보다 작아질때 100%가 적용됨
    사이트의 가로스크롤이 생기지않음*/
    width: 1920px;
    margin: 0 auto;
}

/*로고*/
#logo {
    margin: 2% 50%;
    transform: translateX(-50%);
    width: 10%;
    /*outline: 1px dotted blue;*/
}

/*상단버튼 공통*****/
.btn {
    position: fixed;
    left: 5%;
    top: 8%;
    text-decoration: underline;
    font: 0.875rem 'junge';
    z-index: 9999999;
}

/*메뉴버튼*/
#mbtn {
    opacity: 1;
    font-weight: bold;
    text-shadow: 1px 1px 4px #555;
    /*border: 1px solid red;*/
    /*width: 1.5%;
    height: 4%;*/
}

.ALL{
    color: #fff;
    text-decoration: underline;
}

/*.btnbox {
    width: 500%;
    height: 500%;
    top: -160%;
    left: -180%;
    position: absolute;
    border: 1px solid blue;
    z-index: -1;
}*/
.btn a {
    position: absolute;
    top: -175%;
    left: -105%;
    width: 300%;
    height: 500%;
    /*border: 2px solid red;*/
}

/*닫기버튼*/
#cbtn {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 999999999999;
}

/*사이트커버*/
#scover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 1000%;
    background-color: #000;
    opacity: .5;
    z-index: 999999999;
    display: none;
    /*숨김*/
}

/*전체커버*/
#tcover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*    background-color:#f00;*/
    opacity: .5;
    z-index: 999999999;
    display: none;
    /*숨김*/
}

/*메뉴*/
#menu {
    position: fixed;
    top: 0;
    left: -50%;
    width: 35%;
    height: 100%;
    padding-top: 6%;
    opacity: .99;
    background-color: #14273e;
    /*display: none;*/
    z-index: 9999999999;
    white-space: nowrap;
}

#menu {
    font-size: 3rem;
    font-weight: bold;
}

#menu >  li {
    width: 100%;
    margin: 3% 13%;
}

#menu > li > a:hover {
    color: #e1a957;
}

/*메뉴내부사진*/
/*#menupic{
    position: absolute;
    left: 0;
    bottom: 10%;
    width: 100%;
    opacity: .99;
}*/

/*하단로고*/




/*6.레시피*******************************************/
#rtit {
    margin: 2%;
    font-size: 7rem;
    color: #1e1c16;
    font-family: 'junge';
    font-style: normal;
}

.swiper-container5{
    padding: 0 140px 0 40px;
}

/*레시피 ul박스 가상요소 없애기*/
#recipebox::after {
    display: none;
}

.box {
    position: relative;
    /*부모역할*/
}

.rimg {
    width: 100%;
    height: 100%;
    transition: transform 3s ease-in-out;
}

.rimg:hover {
    transform: scale(1.1);
}

/*더보기*/
.viewmore {
    /*border: 1px dotted red;*/
    color: #1e1c16;
    text-decoration: underline;
    position: absolute;
    top: 85%;
    left: 93%;
    font-family: 'junge';
    font-weight: normal;
    font-style: normal;
}

#recipebox > li {
    position: relative;
    padding: 0.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#recipebox > li::before {
    content: "";
    display: block;
    padding-top: 130%;
}

#recipebox > li > a {
    position: absolute;
    top: 10px;
    right: 10px;
    left: 10px;
    bottom: 100px;
    overflow: hidden;
    /*outline: 1px dotted red;*/
}


#recipebox > li > p {
    position: absolute;
    left: 0;
    bottom: 20px;
    width: 100%;
    font-size: 2rem;
    color: #1e1c16;
    text-align: center;
    line-height: 60px;
    font-family: 'junge';
    font-weight: normal;
    font-style: normal;
}


#recipebox > li > p.two {
    margin-bottom: -1%;
    line-height: 33px;
}




/*7.회사정보*************************************/

#footlogo {
    width: 50%;
    margin-top: -0.1%;
    background-color: #191919;
}

#footlogo > img {
    width: 100%;
    margin-top: 10%;
    margin-bottom: 10%;
}

#footlogo > p {
    font-size: 0.825rem;
    color: #fff;
    position: absolute;
    top: 83%;
    left: 22%;
    transform: translate(-25%, -25%);
}

/*박스 조금내리기*/
footer {
    padding-top: 1%;
}

.cinfo {
    position: relative;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
}

#contect {
    position: absolute;
    /*박스 조금내리기*/
    top: 2%;
    right: 0;
    width: 50%;
    height: 98%;
    background-color: #e1a957;
}

#contect p {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.4rem;
    font-weight: bold;
    margin-left: 2%;
    color: #1e1c16;
    font-family: 'junge';
    font-style: normal;
}

#contect img {
    vertical-align: middle;
}

#contect div {
    margin: 4% 0%;
}

.contT {
    font-size: 3.8rem;
    color: #1e1c16;
    font-family: 'junge';
    font-style: normal;
}
