@charset "utf-8";
/* 메인 css - main.css */
@import url(base.css);
@import url(reset.css);
@import url(common.css);

/*전체키프레임*************************************************************/
/*포도 키프레임*/
@keyframes podoGo {
    to {
        left: 13%;
    }
}

/*키프레임*/

/*와인 키프레임*/
@keyframes wineGo {
    to {
        right: 8%;
    }
}

/*키프레임*/

/*글자등장 키프레임1 - 위치이동*/
@keyframes showTit {
    to {
        transform: translateY(0%);
    }
}

/*키프레임*/

/*글자등장 키프레임2 - 투명도조절*/
@keyframes opaTit {
    to {
        opacity: 1;
    }
}

/*키프레임*/

/*와인등장 키프레임*/
@keyframes wpicRo {
    to {
        transform: rotate(7deg);
    }
}

/*키프레임*/

/*메를로등장 키프레임*/
@keyframes wpicRoM {
    to {
        transform: rotate(-7deg);
    }
}

/*키프레임*/

/*1.상단영역*******************************************************/
.top {
    width: 100%;
    height: 100%;
}

#top {
    background-color: #191919;
    width: 100%;
    height: 100%;
    /*border: 1px dotted yellow;*/
    overflow: hidden;
}

/*나뭇잎*/
#leaf {
    width: 25%;
    margin-left: 60%;
    margin-top: 15%;
}

/*포도*/
#grapeM {
    position: absolute;
    top: 21%;
    width: 65%;
    left: -70%;
    animation: podoGo .8s ease-out .5s forwards;
}

/*와인*/
#mainW {
    position: absolute;
    width: 32%;
    right: -80%;
    top: 10%;
    animation: wineGo 1s ease-out .8s forwards;
}

/*포도글씨***********************************/
/*포도글씨 박스*/
#podoTXT {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*outline: 1px solid blue;*/
    width: 60%;
}

#podoTXT::before {
    /*비율박스*/
    content: "";
    display: block;
    padding-top: 40%;
}

/*처음에 안보이게 내림*/
#podoTXT > div > p > span {
    display: block;
    transform: translateY(100%);
}

/*포도글씨 줄단위조정*/
.podoT1 > p,
.podoT2 > p {
    position: absolute;
    /*outline: 1px dotted pink;*/
    overflow: hidden;
    /*자식숨기기*/
}

/*포도글씨 위치조정*/
.podoT1 > p:nth-child(1) {
    top: 10%;
    right: 51%;
    font-size: 11.285rem;
    color: #ffc163;
}

.podoT1 > p:nth-child(2) {
    top: 10%;
    left: 51%;
    font-size: 6.571rem;
    color: #fff;
    transform: translateY(50%);
}

.podoT2 > p:nth-child(1) {
    top: 50%;
    right: 54%;
    font-size: 6.571rem;
    color: #fff;
    transform: translateY(50%);
}

.podoT2 > p:nth-child(2) {
    top: 50%;
    left: 51%;
    font-size: 11.142rem;
    color: #fff;
}

/*포도글씨 애니메이션*/
.podoT1 > p:nth-child(1) > span {
    animation: showTit .4s ease-out 1.8s forwards;
}

.podoT1 > p:nth-child(2) > span {
    animation: showTit .4s ease-out 2s forwards;
}

.podoT2 > p:nth-child(1) > span {
    animation: showTit .4s ease-out 2.2s forwards;
}

.podoT2 > p:nth-child(2) > span {
    animation: showTit .4s ease-out 2.4s forwards;
}




/*2.글씨*******************************************************/
/*공통class*/
/*숨겨줄 부모박스*/
.showB span {
    display: block;
    overflow: hidden;
}

/*아래로 내릴 박스*/
.showB span em {
    font-style: normal;
    display: block;
    transform: translateY(100%);
}

/*전체텍스트박스*/
#txt {
    width: 100%;
    text-align: center;
    color: #fff;
    white-space: nowrap;
    /*줄바꿈방지*/
    /*outline: 5px dotted blue;*/
}

/*첫번째 글씨(welcome)*************/
#txt .AF {
    font-size: 7.142rem;
    margin: 0 auto;
    padding: 8%;
}

/*두번째 글씨(We strive to)************/
#txt p:nth-of-type(2) {
    font-size: 3.8rem;
    letter-spacing: -3px;
    line-height: 135%;
    margin: 0 auto;
    /*outline: 1px solid aqua;*/
    overflow: hidden;
}

#txt p:nth-of-type(2) span {
    display: block;
    transform: translateY(100%);
    opacity: 0;
    /*투명*/
}

/*세번째 글씨(a revolution)************/
#txt p:nth-of-type(3) {
    font-size: 4.166rem;
    font-weight: bold;
    margin: 0 auto;
    padding: 6%;
}

/*클래스 on을 줄때 애니메이션 셋팅*/
#txt p:last-child.on span:nth-child(1) em {
    animation: showTit .4s ease-out forwards;
}

#txt p:last-child.on span:nth-child(2) em {
    animation: showTit .4s ease-out .2s forwards;
}

/*클래스 on을 줄때 애니메이션 셋팅*/
#txt p.on:nth-of-type(2) span {
    animation: showTit 1.1s ease-out forwards,
        opaTit 2s ease-out forwards;
}

/*클래스 on을 줄때 애니메이션 셋팅*/
#txt .AF.on span:nth-child(1) em {
    animation: showTit .4s ease-out forwards;
}

#txt .AF.on span:nth-child(2) em {
    animation: showTit .4s ease-out .2s forwards;
}

#txt .AF.on span:nth-child(3) em {
    animation: showTit .4s ease-out .8s forwards;
}


/*배경이미지*/
#txtbg {
    background: url(../images/txtbg.jpg) no-repeat center/cover;
}



/*3.와인***********************************************************/
.wine {
    background-color: #e1a957;
}

/*****공통*****/
/*배경원*/
.cir {
    position: absolute;
    /*부모? 싸고있는 li*/
    transform: translateY(-50%) scale(0);
    /*세로중앙이동*/
    left: 12%;
    top: 50%;
    width: 72%;
    background-color: #cc9a50;
    border-radius: 50%;
    transition: all .8s ease-in-out;
}

/*공통마우스 오버*/
.pt2 > li:hover .cir {
    transform: translateY(-50%) scale(1.2);
}

.cir::before {
    /*비율박스*/
    content: "";
    display: block;
    padding-top: 100%;
}

/*와인*/
.wpic {
    position: relative;
    /*위치관계*/
    margin: 3% 16%;
    width: 65%;
    transition: transform 1s ease-in-out .1s;
}

/*클래스 on을 줄때 애니메이션 셋팅*/
.wpic.on {
    /*animation: wpicRo 1s ease-in-out .5s forwards;*/
}

.pt2 > li {
    position: relative;
    /*부모자격!*/
}

/*텍스트 박스*/
.pt2 .wt {
    margin: 5.7% 0%;
    width: 33%;
    color: #1e1c16;
    font-weight: bold;
    white-space: nowrap;
}

/*베스트와인*/
.pt2 .best {
    font-size: 3rem;
}

/*와인이름*/
.pt2 .name {
    font-size: 9rem;
}

/*와인도수*/
.pt2 .alc {
    font-size: 2.4rem;
}

/*와인정보*/
.pt2 .winfo {
    line-height: 132%;
    font-size: 2.4rem;
    font-weight: normal;
    margin-top: 3%;
}

/*더보기*/
.wt .more {
    margin: 4% 53% 0% 0%;
    font-size: 2rem;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    background: url(../images/more.png) no-repeat 0/100% 100%;
    transition: all .5s ease-in-out;
}

/*더보기 이미지 공통*/
.morebox {
    position: absolute;
    padding-top: 5%;
    /* padding-bottom: 50px; */
    left: 0;
    bottom: 100%;
    width: 100%;
    display: none;
}

.morebox::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 95%;
    background-color: #ccc;
    z-index: -1;
}

/*더보기 a링크 크기*/
.morebox a{
    /*width: 100%;*/
}

/*더보기 이미지 공통크기*/
.morebox img {
    width: 60%;
}

/*화이트와인 더보기 이미지*/
.wm img {
    position: relative;
    left: -4%;
    margin: 4% -22% 15% -9%;
}

/*레드와인 더보기 이미지*/
.rm img {
    position: relative;
    left: -10%;
    margin: 4% -22% 15% 0%;
}

/*레드와인 텍스트 오른쪽으로*/
.pt2b .wt {
    left: 6%;
}

/*레드와인 애니메이션 반대로*/
.merlot.on {
    animation: wpicRoM 1s ease-in-out .5s forwards;
}

/*와인클릭*/
.click1{
    top: 0;
    left: 0;
    /*border: 1px solid blue;*/
    position: absolute;
    width: 35%;
    height: 95%;
}

.click2{
    top: 0;
    left: 36%;
    /*border: 1px solid blue;*/
    position: absolute;
    width: 32%;
    height: 95%;
}

.click3{
    top: 0;
    right: 0%;
    /*border: 1px solid red;*/
    position: absolute;
    width: 30%;
    height: 95%;
}


/*4.물결**************************************/
/*흰색겉박스*/
#winefram {
    position: relative;
    /*height: 90%;*/
    /*left: 50%;
    transform: translateX(-50%);*/
    width: 100%;
    background-color: #fff;
    overflow: hidden;
}

/*와인이미지뒷배경*/
#winebg {
    position: relative;
    margin: 2% auto;
    /*
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: 7%;
*/
    width: 95%;
    background-color: #191919;
/*    background: #191919 url(../images/flowwine.png) no-repeat fixed center/cover;*/
    overflow: hidden;
}
#winebg img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: top .3s ease-out;
}

/*와인이미지*/
#flowwine {
/*    background: url(../images/flowwine.png) no-repeat fixed center/cover;*/
    background-position: 0% 0%;
}

/*와인글씨*/
#flowwine p {
    width: 100%;
    padding: 1% 0% 10% 0%;
    margin: 10% 0% 0% 0%;
    text-align: center;
    font-size: 10rem;
    letter-spacing: 30px;
    line-height: 187px;
    color: #fff;
    font-weight: bold;
}



/*5.포도품종****************************/
/*돌아가는포도*/
#podo {
    position: fixed;
    width: 3%;
    top: 0;
    left: 0;
    z-index: 999999;
    display: none;
}

/*품종타이틀*/
#gtit {
    color: #1e1c16;
    letter-spacing: 15px;
    font-size: 10rem;
    margin: 4%;
    text-align: center;
    white-space: nowrap;
    font-weight: normal;
}

/*품종 배경*/
#grapebg {
    background-color: #e1a957;
    padding-bottom: 2%;
}

/*품종 박스*/
#grapebox {
    width: 300%;
    height: 100%;
}

#grapebox > li {
    /*border: 1px solid red;*/
    /*position: relative;*/
}

#grapebox > li .inb {
    border: 3px solid #000;
    margin: 2% 20%;
}


.malbee .AF{
    display: block;
}

#grapebox > li  p {
    text-align: center;
    font-size: 1.2rem;
    margin: 6%;
    color: #1e1c16;
    /*border: 1px solid blue;*/
    /*white-space: nowrap;*/
}

/*malbee 별도로 조절*/
.malbee{
    color: #1e1c16;
    white-space: nowrap;
    /*border: 1px solid lime;*/
}

#grapebox > li .AF {
    text-align: center;
    font-size: 3.5rem;
    line-height: 107%;
    letter-spacing: 3px;
}
/*포도공통이미지*/
.gimg {
    position: relative;
    left: 20%;
    margin-top: 4%;
}







