@charset "utf-8";
/* 와인 미디어쿼리 - media.css*/


/*1.1600px 이하 미디어쿼리*/
@media only screen and (max-width:1600px) {

    #podoTXT {
        top: 50%;
    }

    /*흐르는 와인*/
    #flowwine p {
        font-size: 9rem;
    }

    /*포도품종 이미지*/
    .gimg {
        position: relative;
        left: 13%;
        margin-top: 8%;
        width: 80%;
    }

    /*포도품종 테두리*/
    #grapebox > li .inb {
        margin: 2% 17%;
    }
}

/*2.1500px 이하 미디어쿼리*/
@media only screen and (max-width:1500px) {

    #leaf {
        margin-left: 60%;
        margin-top: 18%;
    }

    #grapeM {
        top: 26%;
    }

    #leaf {
        margin-top: 18%;
    }

    /*베스트와인*/
    .pt2 .best {
        font-size: 2.5rem;
    }

    /*와인이름*/
    .pt2 .name {
        font-size: 8rem;
    }

    /*와인도수*/
    .pt2 .alc {
        font-size: 2rem;
    }

    /*와인정보*/
    .pt2 .winfo {
        font-size: 2rem;
    }

    /*더보기*/
    .wt .more {
        font-size: 1.8rem;
    }


    /*포도품종 타이틀*/
    #gtit {
        font-size: 9rem;
    }


    /*포도품종 이름*/
    #grapebox > li .AF {
        font-size: 2.7rem;
    }


    /*레시피 타이틀*/
    #rtit {
        font-size: 6rem;
    }

    /*레시피 이미지*/
    #recipebox > li::before {
        padding-top: 140%;
    }



}


/*3.1400px 이하 미디어쿼리*/
@media only screen and (max-width:1400px) {

    #podoTXT {
        top: 46%;
    }

    /*텍스트*/

    #txt .AF {
        font-size: 6rem;
    }

    #txt p:nth-of-type(2) {
        font-size: 2.9rem;
    }

    #txt p:nth-of-type(3) {
        font-size: 3rem;
    }


    /*레시피 타이틀*/
    #rtit {
        font-size: 5rem;
    }

    /*레시피 이름*/
    #recipebox > li > p {
        font-size: 1.7rem;
    }

}

/*4.500px 이하 미디어쿼리*/
@media only screen and (max-width:500px) {
    #logo {
        margin: 10% 50%;
        width: 25%;
    }

    /*상단버튼*/
    .btn {
        top: 10.5%;
        left: 9%;
        font-size: 0.5rem;
    }


    /*메뉴*/
    #menu {
        width: 45%;
    }

    /*메뉴리스트*/
    #menu > span {
        font-size: 1.5rem;
    }

    #menu > span > li {
        padding-top: 11%;
        margin: 2% 11%;
    }

    /*포도*/
    #grapeM {
        top: 30%;
        width: 90%;
        left: -90%;
    }

    /*포도 키프레임*/
    @keyframes podoGo {
        to {
            left: 3%;
        }
    }

    /*와인*/
    #mainW {
        width: 50%;
        right: -80%;
        top: 20%;
        animation: wineGo 1s ease-out .8s forwards;
    }

    /*와인 키프레임*/
    @keyframes wineGo {
        to {
            right: -16%;
        }
    }

    /*나뭇잎*/
    #leaf {
        width: 35%;
        margin-left: 65%;
        margin-top: 25%;
    }



    /*포도글씨 박스*/
    #podoTXT {
        top: 45%;
        left: 55%;
        transform: translate(-50%, -50%);
        /*outline: 1px solid blue;*/
        width: 60%;
    }


    /*포도글씨 위치조정*/
    .podoT1 > p:nth-child(1) {
        top: 4%;
        right: 55%;
        font-size: 4.5rem;
        color: #ffc163;
    }

    .podoT1 > p:nth-child(2) {
        top: 5%;
        left: 55%;
        font-size: 2.5rem;
        color: #fff;
        transform: translateY(50%);
    }

    .podoT2 > p:nth-child(1) {
        top: 58%;
        right: 62%;
        font-size: 2.5rem;
        color: #fff;
        transform: translateY(50%);
    }

    .podoT2 > p:nth-child(2) {
        top: 55%;
        left: 50%;
        font-size: 4.5rem;
        color: #fff;
    }

    /*텍스트구역*/

    /*첫번쨰*/
    #txt .AF {
        font-size: 3rem;
        padding-top: 15%;
        padding-bottom: 12%;
    }

    /*두번째*/
    #txt p:nth-of-type(2) {
        font-size: 1.5rem;
        padding-bottom: 5%;
        letter-spacing: -2.2px;
    }

    /*세번째*/
    #txt p:nth-of-type(3) {
        font-size: 1.8rem;
        padding-bottom: 12%;
    }



    /*****공통*****/
    /*배경원*/
    .cir {
        left: 20%;
        top: 55%;
        width: 140%;
        border-radius: 50%;
    }


    /*와인*/
    .wpic {
        width: 130%;
        top: 27px;
        left: 12%;
    }

    /*텍스트 박스*/
    .pt2 .wt {
        margin: 5.7% 0%;
        width: 33%;
        color: #1e1c16;
        font-weight: bold;
        white-space: nowrap;
    }

    /*텍스트 박스*/
    .pt2 .wt {
        top: 480px;
        left: -50%;
    }

    /*베스트와인*/
    .pt2 .best {
        font-size: 1.7rem;
    }

    /*와인이름*/
    .pt2 .name {
        font-size: 4rem;
    }

    /*와인도수*/
    .pt2 .alc {
        font-size: 1.7rem;
    }

    /*와인정보*/
    .pt2 .winfo {
        font-size: 1.4rem;
    }

    /*더보기*/
    .wt .more {
        font-size: 1.3rem;
        width: 80%;
    }

    /*더보기 이미지 공통*/
    .morebox {
        position: absolute;
        padding-top: 5%;
        /* padding-bottom: 50px; */
        left: 0;
        bottom: 100%;
        width: 100%;
        display: none;
    }

    .morebox::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 95%;
        background-color: #ccc;
        z-index: -1;
    }

    /*더보기 이미지 공통크기*/
    .morebox img {
        width: 60%;
    }


    .init {
        position: relative;
        height: 900px;
    }

    /*메를로 설정*/
    .merlotb {
        position: absolute;
        /*top: -7% !important;*/
        left: -42%;
    }

    .merlotwt {
        position: relative !important;
        bottom: 0;
        top: 55% !important;
        left: 6% !important;
    }



    /*4.물결**************************************/
    /*흰색겉박스*/
    #winefram {
        width: 100%;
    }

    /*와인이미지뒷배경*/
    #winebg {
        margin: 2% auto;
        width: 95%;
        background-color: #191919;
        background: #191919 url(../images/flowwine.png) no-repeat fixed center/100%;
    }

    /*와인글씨*/
    #flowwine p {
        font-size: 6rem;
        line-height: 100px;
    }



    /*5.포도품종****************************/
    /*돌아가는포도*/
    #podo {
        width: 8%;
    }

    /*품종타이틀*/
    #gtit {
        letter-spacing: -1px;
        font-size: 4.5rem;
        margin: 10% 0% 10% 0%;
    }

    /*품종 배경*/
    #grapebg {
        padding-bottom: 7%;
    }

    /*품종 박스*/
    #grapebox {
        width: 80%;
        height: 100%;
    }

    #grapebox > li {
        /*width: 150%;*/
    }

    #grapebox > li .inb {
        border: 3px solid #000;
        margin: 2% 20%;
    }


    .malbee .AF {
        display: block;
    }

    #grapebox > li p {
        font-size: 1.1rem;
        width: 93%;
        left: 13%;
        margin: 8% 0% 7% 3.5%;
    }

    /*malbee 별도로 조절*/
    .malbee {
        color: #1e1c16;
        white-space: nowrap;
        /*border: 1px solid lime;*/
    }

    #grapebox > li .AF {
        font-size: 2.4rem;
        letter-spacing: -1px;
        margin-top: 2%;
    }

    /*포도공통이미지*/
    .gimg {
        left: 13%;
        margin: 8% 0% 7% 0%;
    }











    /*6.레시피*******************************************/
    #rtit {
        text-align: center;
        font-size: 3rem;
        margin: 10% 6% 13% 3%;
    }

    #recipebox {
        width: 600%;
    }

    /*더보기*/
    .viewmore {
        top: 150%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #recipebox > li {
        position: relative;
        width: 10%;
        padding: 0.5%;
    }

    #recipebox > li::before {
        padding-top: 150%;
    }

    #recipebox > li > p {
        position: absolute;
        left: 0;
        bottom: 40px;
        width: 100%;
        font-size: 1.4rem;
        line-height: 20px;
    }


    #recipebox > li > p.two {
        margin-bottom: -20px;
    }









    /*7.회사정보*************************************/
    /*#footlogo {
         width: 100%; 
        background-color: #191919;
        top: 250px;
        position: relative;
    }

    #footlogo > img {
        width: 100%;
        margin-top: 10%;
        margin-bottom: 10%;
        height: 150px;
    }


    #footlogo > p {
        font-size: 5px;
        left: 25%;
        transform: translate(-50%, -50%);
    }

    .cinfo {
        position: relative;
        top: 50%;
        left: 5%;
        transform: translateY(-50%);
    }
*/




    #footlogo {
        width: 100%;
        top: 303px;
        position: relative;
    }

    #footlogo > p {
        font-size: 0.4rem;
        color: #fff;
        position: absolute;
        top: 85%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    /*#footlogo::after {
        content: "";
        display: block;
        background: url(../images/logo500px.jpg) no-repeat/center 100% 100%;
        width: 500px;
        height: 220px;
    }*/

    #contect {
        position: absolute;
        top: 1%;
        left: 0;
        width: 100%;
        height: 70%;
        background-color: #e1a957;
    }
    footer {
        background-color: #e1a957;
    }

    #contect p {
        font-size: 0.5rem;
        margin-left: 1%;
    }

    #contect img {
        margin-left: -1%;
        width: 12%;
    }

    #contect div {
        margin: 2% 0% 0% 1%;
    }

    .contT {
        font-size: 2rem;
    }

}
