@charset "utf-8";
/* 서브1 css - sub1.css */

/*css 임포트*/
@import url(base.css);
@import url(reset.css);
@import url(common.css);


body {
    background-color: #282828;
}


/*2.카테고리*/
#category {
    position: relative;
    /*margin-top: 1%;*/
    margin-left: 3%;
    padding-bottom: 1%;
}

.upli {
    font-size: 2rem;
    color: #fff;
    position: relative;
    top: -2px;
}

#category > li {

    margin-left: 0.3%;
    font-size: 1.5rem;
    color: #a7a7a7;
}

.ccom {
    font-size: 1.7rem;
    color: #a7a7a7;
}


/*3.레시피***************************************/
.recipebox {
    position: relative;
    /*부모자격*/
}

/*이미지*/
.rec {
    width: 100%;
}

/*왼쪽박스*/
.lbox {
    margin-left: 1%;
    width: 29%;
    position: relative;
    /*border: 1px solid red;*/
}

/*칵테일이름*/
.lbox .AF {
    width: 100%;
    font-weight: normal;
    position: absolute;
    color: #fff;
    font-size: 4rem;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*opacity: .8;*/
    display: none;
}


/*오른쪽박스*/
.rbox {
    width: 67%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 1%;
    color: #fff;
    background-color: #151515;
}

/*박스내부선색*/
.frame {
    border: 2px solid #fff;
    position: absolute;
    width: 94%;
    height: 90%;
    top: 5%;
    left: 3%;
}

.rbox .AF {
    font-size: 6rem;
}

/*재료타이틀*/
.itit {
    right: 0;
    font-weight: normal;
    margin-bottom: 10%;
    margin-top: 5%;
}

/*재료내용*/
.ltxt {
    /*border: 1px solid yellow;*/
    position: absolute;
    top: 8%;
    line-height: 2;
    font-size: 1.5rem;
    width: 50%;
    left: 7%;
}

.ltxt li {
    line-height: 33px;
    font-size: 1.3rem;
    width: 100%;
}


/*레시피타이틀*/
.retit {
    position: relative;
    left: 59%;
}

/*레시피내용*/
.rtxt {
    /* border: 1px solid blue;*/
    position: absolute;
    font-size: 1.5rem;
    top: 45%;
    letter-spacing: 0px;
    right: 7%;
    width: 50%;
    line-height: 2;
    text-align: right;
}

.txtright{
    line-height: 1.5;
}

/*선*/
.line {
    stroke: #fff;
    stroke-width: 2;
    position: absolute;
    top: 38%;
    left: 40%;
}

/*4.다른상품**********************************************/
/*타이틀*/
#otit {
    color: #fff;
    margin: 2%;
    font-size: 7rem;
}


/*전체박스*/
#pdbox {
    /*width: 170%;
    height: 50%;
    border: 1px dotted lime;*/
}

#pdbox > li {
    /*margin-left: -0.8%;*/
}

/*공통점*/
.dotw,
.dote,
.dotr {
    font-size: 1.5rem;
}

/*공통점*/
.dot::after {
    content: "";
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

/*윗줄 점 위치*/
.dotup::after {
    margin-top: -3.8%;
    margin-left: 25%;
}

/*아랫줄 점 위치*/
.dotdown::after {
    margin-top: -3.8%;
    margin-left: 27%;
}

/*화이트와인 점*/
.dotw::after {
    background-color: #fbd4a1;
}

/*로제와인 점*/
.dote::after {
    background-color: #fbafa4;
}

/*화이트와인 점*/
.dotr::after {
    background-color: #bc0a0a;
}



#pdbox > li > div > a > p {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 5%;
    color: #fff;
    display: block;
    /*border: 1px solid blue;*/
    /*white-space: nowrap;*/
}

#pdbox > li > div > a > em {
    color: #fff;
    font-size: 2.5rem;
    font-style: normal;
    display: block;
    text-align: center;
}

.viewmore {
    color: #fff;
}

/*상품공통이미지*/
.pimg {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    /* margin-top: -1%; */
    width: 65%;
    /* border: 1px solid red;*/
}

#pdbox > li > .inb {
    /*border: 1px solid #fff;*/
    margin: 5% 5% 5% 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #191919;
}
