@charset "utf-8";
/* 레시피 리스트페이지 미디어쿼리 - rlistmedia.css*/


/*1.1600px 이하 미디어쿼리*/
@media only screen and (max-width:1600px) {}

/*2.1500px 이하 미디어쿼리*/
@media only screen and (max-width:1500px) {}


/*3.1400px 이하 미디어쿼리*/
@media only screen and (max-width:1400px) {}

/*4.500px 이하 미디어쿼리*/
@media only screen and (max-width:500px) {



    #listbox {
        width: 100%;
        margin: 0;
    }

    .outb {
        position: relative;
        width: 50%;
        margin: 0;
        perspective: 1205px;
    }

    .rname {
        left: 50%;
        font-size: 1.4rem;
    }

    .rpic {
        width: 100%;
    }

    #listbox2 {
        width: 100%;
        margin: 0;
        margin-bottom: 10%;
    }

}
