@charset "utf-8";
/* 와인 상세페이지 미디어쿼리 - sub1media.css*/


/*1.1600px 이하 미디어쿼리*/
@media only screen and (max-width:1600px) {

    /*타이틀위치*/
    .label {
        margin: 15% 4%;
    }

    .label > h3 {
        font-size: 4.5rem;
    }

    /*설명 폰트크기*/
    .detail > ol,
    .detail > ul {
        font-size: 1.4rem;
    }

    /*줄맞추기*/
    .uline1 {
        margin-top: 3%;
    }

    .uline2 {
        margin-top: 7%;
        margin-bottom: 3%;
    }

    /*다른상품*/
    #otit {
        font-size: 5rem;
    }

    /*화이트와인점*/
    .dotup::after {
        margin-top: -5%;
        margin-left: 22%;
    }

    /*레드와인점*/
    .dotdown::after {
        margin-top: -4.5%;
        margin-left: 23%;
    }

    /*레시피*/
    #rtit {
        font-size: 5rem;
    }


}

/*2.1500px 이하 미디어쿼리*/
@media only screen and (max-width:1500px) {

    /*설명 폰트크기*/
    .detail > ol,
    .detail > ul {
        font-size: 1.3rem;
    }

    /*타이틀*/
    .label > h3 {
        font-size: 4.1rem;
    }

    /*줄맞추기*/
    .uline2 {
        margin-bottom: 4%;
    }

    /*다른상품*/
    #otit {
        font-size: 4rem;
    }

    /*와인이름*/
    #pdbox > li > div > a > em {
        font-size: 2.2rem;
    }

    /*화이트와인점*/
    .dotup::after {
        margin-left: 21%;
    }

    /*레시피*/
    #rtit {
        font-size: 4rem;
    }

}


/*3.1400px 이하 미디어쿼리*/
@media only screen and (max-width:1400px) {

    /*타이틀위치*/
    .label {
        margin: 15% 4%;
    }

    /*타이틀크기*/
    .label > h3 {
        font-size: 3.9rem;
    }

    .label > p {
        font-size: 2rem;
    }


    /*설명 폰트크기*/
    .detail > ol,
    .detail > ul {
        font-size: 1.2rem;
    }

    /*줄맞추기*/
    .uline1 {
        margin-top: 2%;
    }

    .uline2 {
        margin-top: 6%;
        margin-bottom: 4%;
    }

    .oline1 {
        line-height: 65px;
    }

    .oline2 {
        line-height: 65px;
    }

    /*화이트와인점*/
    .dotup::after {
        margin-top: -5.2%;
        margin-left: 18%;
    }

    /*레드와인점*/
    .dotdown::after {
        margin-top: -5%;
        margin-left: 20%;
    }

}

/*4.500px 이하 미디어쿼리*/
@media only screen and (max-width:500px) {

    /*카테고리************************************/
    .ccom {
        position: relative;
        font-size: 0.875rem;
        top: -3px;
    }

    /*두번째 카테고리*/
    #category > li:nth-child(2) {
        margin-left: 5px;
        margin-top: 1px;
    }

    .upli {
        font-size: 1.2rem;
        left: 2%;
    }

    #category > li {
        margin-left: 0.5%;
        font-size: 1.1rem;
    }

    /*와인이미지*************************************************/
    .lbox {
        width: 100%;
        margin: 0;
    }

    /*와인이미지*/
    .wine {
        width: 100%;
    }

    /*와인라벨*/
    .label {
        text-align: center;
        width: 100%;
        margin: 0;
    }

    .label > p {
        padding: 0;
    }

    /*와인설명*/
    .wineinfo {
        position: static;
        height: 700px;
        padding-top: 10%;
        width: 100%;
    }

    /*와인내용(제목)*/
    .detail > ol {
        top: 68.2%;
        left: 10%;
        font-size: 1.1rem;
    }

    /*와인내용(정보)*/
    .detail > ul {
        position: relative;
        left: 35%;
        top: 31px;
        float: left;
        width: 45%;
        font-size: 1.1rem;
    }


    /*두줄처리*/
    .uline1 {
        line-height: 1.2;
        margin-bottom: 8%;
        margin-top: 7%;
    }

    .uline2 {
        margin-bottom: 7%;
    }

    /*와인설명테두리*/
    .wineinfo::after {
        display: block;
        position: relative;
        top: -5%;
        left: 2%;
        width: 96%;
        height: 100%;
        box-sizing: border-box;
        border: 3px solid #fff;
    }


    /*가상요소 선넣기*/
    .detail > ol > li::after {
        width: 570%;
    }


    /*다른상품********************************************/
    /*타이틀*/
    #otit {
        font-size: 3rem;
        text-align: center;
        margin: 10% 6% 13% 3%;
    }

    /*와인사진*/
    .pimg {
        width: 100%;
    }

    /*사진간격 없애서 양옆 붙여버리기*/
    #pdbox > li > .inb {
        margin: 0;
        height: 480px;
    }

    /*와인색구분 글자*/
    #pdbox > li > div > a > p {
        font-size: 1.1rem;
    }

    /*와인이름 글자*/
    #pdbox > li > div > a > em {
        font-size: 2rem;
        margin-top: 7%;
    }

    /*두줄 정렬*/
    #pdbox > li > div > a > em:last-child {
        font-size: 2rem;
        margin-top: 5%;
        margin-left: 5%;
        width: 89%;
    }

    /*화이트와인점*/
    .dotup::after {
        margin-top: -7%;
        margin-left: 15%;
    }

    /*레드와인점*/
    .dotdown::after {
        margin-top: -7%;
        margin-left: 18%;
    }

    /*레시피************************************************/
    #recipebg {
        margin-top: -5%;
    }


}

/*모바일전용 미디어쿼리******************************************************************/

/*480px 이하 미디어쿼리*/
@media only screen and (max-width:480px) {
    .detail > ol {
        top: 69%;
    }

    .detail > ul {
        top: 42px;
    }

    #pdbox > li > .inb {
        height: 470px;
    }
}

/*460px 이하 미디어쿼리*/
@media only screen and (max-width:460px) {
    .detail > ul {
        top: 50px;
    }

    #pdbox > li > .inb {
        height: 450px;
    }

    /*화이트와인점*/
    .dotup::after {
        margin-top: -7.4%;
        margin-left: 14%;
    }
}

/*440px 이하 미디어쿼리*/
@media only screen and (max-width:440px) {
    .detail > ol {
        font-size: 1rem;
    }

    .detail > ul {
        top: 64px;
        font-size: 1rem;
    }

    .uline2 {
        margin-bottom: 9%;
    }

    #pdbox > li > .inb {
        height: 440px;
    }
}

/*420px 이하 미디어쿼리*/
@media only screen and (max-width:420px) {

    .detail > ul {
        top: 71px;
    }

    .oline1,
    .oline2 {
        line-height: 58px;
    }

    .uline1 {
        margin-bottom: 6%;
    }

    .uline2 {
        margin-bottom: 6%;
    }

    #pdbox > li > .inb {
        height: 420px;
    }

    /*와인분류*/
    #pdbox > li > div > a > p {
        font-size: 1rem;
    }
}

/*400px 이하 미디어쿼리*/
@media only screen and (max-width:400px) {

    .detail > ol {
        top: 68.4%;
        left: 8%;
        font-size: 0.9rem;
    }

    /*줄길이 늘림*/
    .detail > ol > li::after {
        width: 605%;
    }

    .detail > ul {
        top: 72px;
        left: 35%;
        font-size: 0.9rem;
    }

    .uline1 {
        margin-bottom: 10%;
    }

    .uline2 {
        margin-bottom: 9%;
    }

    .wineinfo::after {
        top: -4%;
    }


    #pdbox > li > div > a > p {
        font-size: 1rem;
    }


    #pdbox > li > .inb {
        height: 400px;
    }

    /*공통점*/
    .dot::after {
        width: 14px;
        height: 14px;
    }

    /*화이트와인점*/
    .dotup::after {
        margin-top: -7.7%;
        margin-left: 12%;
    }

    /*레드와인점*/
    .dotdown::after {
        margin-top: -7.5%;
        margin-left: 15%;
    }
}

/*380px 이하 미디어쿼리*/
@media only screen and (max-width:380px) {
    .detail > ol {
        top: 67.5%;
        font-size: 0.9rem;
    }

    .detail > ul {
        top: 70px;
        font-size: 0.9rem;
    }

    .uline1 {
        margin-bottom: 11%;
    }

    .uline2 {
        margin-bottom: 9%;
    }

    #pdbox > li > .inb {
        height: 395px;
    }

    /*화이트와인점*/
    .dotup::after {
        margin-top: -7.7%;
        margin-left: 10%;
    }

    /*레드와인점*/
    .dotdown::after {
        margin-left: 13%;
    }

}
