@charset "utf-8";
/* 공통 css - common.css */

/*그리드뷰 변경*/
.grid {
    width: 1200px;
}

/**********공통class*************/
/*속박스*/
.inbox {
    max-width: 100%;
    /*최대 가로크기를 100%로 설정하면
    설정된 가로크기보다 작아질때 100%가 적용됨
    사이트의 가로스크롤이 생기지않음*/
    width: 1200px;
    margin: 0 auto;
}

/*배경색상*/
body {
    background-color: #f8f7f7;
}


/*****2-1.탑메뉴*****/
#top {
    position: relative;
    z-index: 9999;
    /*맨위*/
}

/*gnb배경박스 가상요소로 만들기*/
#top::before {
    content: "";
    display: block;
    position: absolute;
    top: 118px;
    left: 1%;
    width: 97.5%;
    height: 0;
    background-color: rgba(255, 255, 255, 0.9);
    transition: height .4s ease-out;
}

/*class에 on이 있는 경우
gnb배경박스 가상요소의 높이값을 변경함!*/
#top.on::before {
    height: 120px;
}

/*탑메뉴 전체위치*/
.tmenu {
    position: absolute;
    right: 42px;
    /*background-color: black;*/
}

.tmenu li {
    position: relative;
    /*부모자격*/
}

.tmenu li a {
    color: #fff;
    text-shadow: 1px 0 #ccc, 0 1px #ccc;
}

/*탑메뉴 가상요소로 사이선 넣기*/
.tmenu li + li::before {
    content: "|";
    margin-left: 5px;
    margin-right: 8px;
    font-size: 0.75rem;
    color: #fff;
    text-shadow: 1px 0 #ccc, 0 1px #ccc;
}

/*2번째 li의 세부조정하기*/
.tmenu li:nth-child(2) {
    transform: translateX(3px);
}

/*3번째 li의 세부조정하기*/
.tmenu li:nth-child(3) {
    transform: translateX(5px) translateY(-2px);
}

/*인스타*/
.insta {
    display: inline-block;
    width: 13px;
    height: 13px;
    background: url(../images/iconI.png) no-repeat 0/100% 100%;
    position: relative;
    top: 4px;
    left: 2px;
}

/*페북*/
.fb {
    display: inline-block;
    margin-left: 10px;
    width: 8px;
    height: 13px;
    background: url(../images/iconF.png) no-repeat 0/100% 100%;
    position: relative;
    top: 4px;
    left: -2px;
}

/*햄버거*/
.ham {
    display: none;
}


/***2-2.GNB 로고***/
.logo {
    position: absolute;
    top: 9%;
    left: 16%;
    width: 100%;
}

.logo<a {
    width: 100%;
}

/*로고클릭 a링크*/
.logoC {
    position: absolute;
    /*border: 1px solid red;*/
    width: 120%;
    left: -10%;
    height: 92%;
    z-index: 1;
}

/*****2-3.GNB 메뉴*****/
.gnb {
    position: absolute;
    top: 36px;
    left: 309%;
    width: 463%;
    height: 50px;
    font-size: 1.375rem;
    letter-spacing: -1px;
    overflow: hidden;
    /*하위메뉴감추기*/
    transition: height .4s ease-out;
    /*outline: 3px dotted green;*/
}

/*GNB메뉴 마우스 오버시 높이값변경*/
.gnb:hover {
    height: 150px;
}

/*GNB메뉴 사이간격*/
.gnb > li {
    position: relative;
    /*부모자격*/
    padding: 0 50px;
    font-weight: bolder;
    color: #151515;
    line-height: 20px;
    /* outline: 1px solid red; */
}

.gnb a {
    color: #151515;
}


/*GNB 상위메뉴 위치조정*/
/*공통*/
.olgnb {
    /*position: relative;*/
    cursor: context-menu;
}

.bgnb {
    left: 0px;
}

.mgnb {
    top: -1px;
    left: -3px;
}

.sgnb {
    left: -5px;
}

.fgnb {
    left: -5px;
}



/*GNB 상위메뉴 호버시 색변경*/
.bgnb:hover {
    color: #aac133;
}

.mgnb:hover {
    color: #aac133;
}

.sgnb:hover {
    color: #aac133;
}

.fgnb:hover {
    color: #aac133;
}


/*GNB 상위메뉴 호버시 하이라이트 박스추가*/
.bgnb:hover.bgnb::after {
    content: "";
    display: block;
    position: absolute;
    top: 110%;
    width: 40%;
    height: 5px;
    background-color: #aac133;
}

.mgnb:hover.mgnb::after {
    content: "";
    display: block;
    position: absolute;
    top: 110%;
    width: 37%;
    height: 5px;
    background-color: #aac133;
}

.sgnb:hover.sgnb::after {
    content: "";
    display: block;
    position: absolute;
    top: 110%;
    width: 40%;
    height: 5px;
    background-color: #aac133;
}

.fgnb:hover.fgnb::after {
    content: "";
    display: block;
    position: absolute;
    top: 110%;
    width: 52%;
    height: 5px;
    background-color: #aac133;
}

/*GNB박스 배경*/
.gnbbox {
    position: absolute;
    height: 90px;
    left: 2%;
    width: 780%;
    background: #fff;
    z-index: -1;
    top: -2px;
}

/*GNB하위메뉴 설정*/
.smenu {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 50px;
    font-size: 0.875rem;
    padding-top: 46px;
    padding-bottom: 72px;
    line-height: 30px;
    /* outline: 1px solid blue; */
}

.smenu li {
    width: 100%;
    /*한줄에 하나!*/
    text-align: center;
}

/*하위메뉴 위치조정*/
.gnb > li:nth-child(1) .smenu li {
    transform: translateY(-3px);
}

.gnb > li:nth-child(2) .smenu li {
    transform: translateX(-3px) translateY(-2px);
}

.gnb > li:nth-child(3) .smenu li {
    transform: translateX(-4px) translateY(-3px);
}

.gnb > li:nth-child(4) .smenu li {
    transform: translateX(-5px) translateY(-3px);
}

/*하위메뉴 호버시 언더라인*/
.gnb li ol a:hover {
    text-decoration: underline;
}



/*****9.하단부분*****/
#info {
    text-align: center;
    font-size: 1.25rem;
    color: #373737;
}

.info {
    transform: translateX(-50%) width: 1920px;
    height: 300px;
    background-color: #eea91e;
}

address {
    font-style: normal;
    margin-top: 111px;
    margin-left: -42px;
    line-height: 27px;
}

.cominfo {
    position: absolute;
    top: 48px;
    left: 50%;
    transform: translateX(-50%);
}

.cominfo li {
    padding: 0 18px;
    font-weight: bold;
}

.cominfo li + li::after {
    content: "|";
    display: block;
    margin-top: -16px;
    margin-left: -20px;
    color: #373737;
    position: absolute;
}
