@charset "utf-8";
/*Grid View*/
.grid{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    /*가로중앙이동*/
    width: 960px;
    height: 100%;
    /*화면을 기준하여 그리드 크기지정*/
    margin: 0;
    padding: 0;
    list-style: none;
    /*ul 3無*/
    z-index: -1;
    /*display: none;*/
}
.grid::after{/*float해제*/
    content: "";
    display: block;
    clear: both;
}
.grid li{
    float: left;/*옆으로 흐르게*/
    width: 8.333%;/*12등분*/
    height: 100%;
    background-color: blue;
    opacity: .3;
    padding: 0 10px;/*양쪽패딩설정(gutter)*/
    /*패딩이나 보더를 주면 박스가 커지므로
    이를 포함하여 크기가 고정되게 하는 속성
    box-sizing:border-box */
    box-sizing: border-box;
    background-clip: content-box;
    /*
        background-clip 은 배경영역설정 속성
        - content-box 는 내용까지만(보더,패딩뺌)
        - padding-box 는 패딩까지만(보더뺌)
        - border-box 는 박스내부모두(기본값!)
    */
}




