@charset "utf-8";
/* 서브5 css - sub5.css */

/*css 임포트*/
@import url(gridView.css);
@import url(gridSet.css);
@import url(core.css);
@import url(common.css);
@import url(reset.css);


/*디자인검수*/
#dsn {
    position: absolute;
    top: 0;
    width: 100%;
    height: 3557px;
    background: url(../images/subp5.jpg) no-repeat center top/1920px;
    z-index: 999999;
    opacity: .5;
    /*반투명*/
    display: none;
    /*안보임*/
}

/*배경색상*/
body {
    background-color: #f8f7f7;
}

/*타이틀*/
.tit {
    position: absolute;
    font-size: 2.187rem;
    font-weight: bold;
    color: #373737;
    top: 60px;
    left: 46px;
}

/*타이틀 박스*/
.tbox {
    background-color: #fff;
    width: 1170px;
    height: 160px;
    margin-top: -13px;
    margin-left: 2px;
}

.tbox p {
    position: absolute;
    font-size: 1rem;
    color: #909090;
    top: 108px;
    left: 46px;
}


/*****프렌차이즈*****/

/*전체박스크기*/
.franbox {
    width: 1170px;
    height: 1000px;
    margin-left: 2px;
    background-color: #fff;
}

/*전체박스*/
.item {
    width: 250px;
    height: 250px;
    border: 1px solid #aaa;
    margin-top: 66px;
    margin-left: 32px;
    padding: 10px 0px box-sizing: border-box;
    float: left;
}

/*전체아이콘*/
.item .ficon {
    margin-top: 28px;
    margin-left: 83px;
}

/*전체타이틀*/
.item .ftit {
    font-size: 1.375rem;
    color: #151515;
    font-weight: bold;
    margin-top: 17px;
    margin-left: -10px;
    text-align: center;
}

/*전체텍스트*/
.item .ftxt {
    font-size: 0.75rem;
    color: #373737;
    margin-top: 26px;
    margin-left: 0px;
    text-align: center;
    letter-spacing: -0.8px;
}

/*숫자*/
.item .fnum {
    font-size: 1.5rem;
    color: #fff;
    background-color: #abc236;
    border-radius: 30%;
    width: 30px;
    height: 30px;
    margin-top: -21px;
    margin-left: 98px;
    padding: 6px;
    text-align: center;
    line-height: 1.4;
}

/*상세조정*/
.item:nth-child(9) .ftxt {
    margin-left: -10px;
}

.item:nth-child(5) .ficon {
    margin-left: 80px;
}

/*위치변경 5번박스*/
.item:nth-child(5) {
    position: relative;
    left: 852px;
}

.item:nth-child(5) .abtn2 {
    position: relative;
    left: -283px;
}

/*긴박스 설정,위치변경*/
.franbox .longitem {
    width: 817px;
    height: 250px;
    position: relative;
    left: -283px;
}

/*긴박스 숫자*/
.item .fnum06 {
    margin-left: 388px;
}

/*긴박스 내부 각박스 설정*/
.item06 {
    width: 250px;
    height: 250px;
    padding: -27px;
    margin-top: -5px;
    margin-left: 20px;
    display: inline-block;
}

/*긴박스 아이콘*/
.item06 .ficon {
    margin-left: 68px;
}

/*오픈교육 아이콘 위치수정*/
.item06:nth-child(3) .ficon {
    margin-left: 76px;
}

/*점포실측 아이콘 위치수정*/
.item06:nth-child(4) .ficon {
    margin-left: 79px;
}

/*긴박스 타이틀*/
.item06 .ftit {
    margin-left: -27px;
}

/*오픈교육 타이틀 위치수정*/
.item06:nth-child(3) .ftit {
    margin-left: -18px;
}

/*점포실측 타이틀 위치수정*/
.item:last-child .ficon {
    margin-left: 77px;
}

/*긴박스 텍스트*/
.item06 .ftxt {
    margin-left: -41px;
    margin-right: 10px;
    padding-left: 34px;
    margin-top: 34px;
}

/*오픈교육 텍스트 위치수정*/
.item06:nth-child(3) .ftxt {
    margin-left: -25px;
    margin-right: 10px;
    padding-left: 34px;
    margin-top: 34px;
}

/*점포실측 텍스트 위치수정*/
.item06:nth-child(4) .ftxt {
    margin-left: -25px;
    margin-right: 10px;
    padding-left: 34px;
    margin-top: 34px;
}



/*화살표*/
.abtn1 {
    margin-top: -108px;
    margin-left: -30px;
}

.abtn2 {
    margin-top: -58px;
    margin-left: 256px;
}

.abtn3 {
    margin-top: -104px;
    margin-left: 259px;
}

.abtn07 {
    margin-top: -64px;
}

.abtn08 {
    margin-top: -121px;
    margin-left: 259px;
}

.abtn09 {
    margin-top: -105px;
    margin-left: 257px;
}


/*전체비율박스*/
.h11 {
    height: 30px;
}

.h12 {
    height: 92px;
    margin-bottom: 58px;
}

.h21 {
    height: 160px;
    margin-bottom: 40px;
}

.h31 {
    height: 1000px;
    margin-bottom: 83px;
}

.h36 {
    height: 300px;
}
